<main>
	<h2>Handmade, Fresh, Daily!</h2>

	{{#each donuts}}
	<div class="donut-container">
		<img src="{{img}}" />

		<h3>
			<a href="/{{_id}}">
				{{name}}
			</a>
		</h3>

		<p>$ {{price}} each </p>

	</div>
	{{/each}}
	<a href="/new">Create a new donut</a>
</main>